
@using WebApplication1.Controllers
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/Content/panier.css">
    <style>
        .button-9 {
            appearance: button;
            backface-visibility: hidden;
            background-color: #000000;
            border-radius: 6px;
            border-width: 0;
            box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 1px inset,rgba(0, 0, 0, 0.1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
            box-sizing: border-box;
            color: #fff;
            cursor: pointer;
            font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
            font-size: 100%;
            height: 44px;
            line-height: 1.15;
            margin: 12px 0 0;
            outline: none;
            overflow: hidden;
            padding: 0 25px;
            position: relative;
            text-align: center;
            text-transform: none;
            transform: translateZ(0);
            transition: all .2s,box-shadow .08s ease-in;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            width: 20%;
            align-content: center;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

            .button-9:disabled {
                cursor: default;
            }

            .button-9:focus {
                box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
            }
    </style>

</head>
<body>
    <div class="shopping-cart">

        <div class="title">
            Votre Panier
        </div>

        @{ decimal s = 0;}
        @foreach (Item item in (List<Item>)Session["cart"])
        {
            s = s + item.Pr.Prix.Value * item.Quantite;
            <div class="item">
                <div class="buttons">
                    <span class="delete-btn"> @Html.ActionLink("Supprimer", "RetirerPanier", "Panier", new { id = item.Pr.ProduitID }, null)</span>
                </div>
                <div class="image">
                    <img src="~/Content/Images/@item.Pr.Photo" style={{ height="90px" }} alt="" />
                </div>
                <div class="total-price ">@item.Pr.Nom</div>
                <div class="total-price">@item.Pr.Prix Dh</div>
                <div class="total-price">@item.Quantite</div>

                <div class="total-price">@((item.Pr.Prix) * item.Quantite) Dh</div>
            </div>


        }
        </div>
    
        <div class="title" style="font-weight: 400;font-size: 25px;color: white; text-align:center;text-decoration:double;">Total du commande : @s Dh</div>
        <button class="button-9" role="button">Paiement</button>

</body>
</html>
